<Item OnClick="_ => Circle.AddNew(SVGEditor)"><div class="icon">🔵</div> New Circle</Item>

@code {
    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }
}
