<Item OnClick="_ => Polyline.AddNew(SVGEditor)"><div class="icon">〰</div> New Polyline</Item>

@code {
    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }
}
