<Item OnClick="_ => Text.AddNew(SVGEditor)"><div class="icon">🅱</div> New Text</Item>

@code {
    [CascadingParameter]
    public SVGEditor SVGEditor { get; set; } = default!;

    [Parameter]
    public object Data { get; set; } = default!;
}
