<Item OnClick="_ => Text.AddNew(SVGEditor)"><div class="icon">🅱</div> New Text</Item>

@code {
    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }
}
