<Item OnClick="_ => Path.AddNew(SVGEditor)"><div class="icon">🎢</div> New Path</Item>

@code {
    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }
}
