@if (Data is Stop stop)
{
    <Item OnClick="_ => stop.Parent.AddNewStop(stop)"><div class="icon">⚪</div> New Stop to Gradient</Item>
}

@code {
    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }
}
