<Item OnClick="_ => Ellipse.AddNew(SVGEditor)"><div class="icon">🕳</div> New Ellipse</Item>

@code {
    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }
}
