<Item>
    <div class="icon">🔪</div> Stroke Dash Offset
    <SubMenu>
        @for (int i = 0; i < Animate.FrameCount; i++)
        {
            var j = i;
            <Item @onclick:stopPropagation=true>
                Frame @j Dash Offset <input type="number" @bind=@Animate.Values[j] style="width:50px;height:26px;float:right;" @bind:event="oninput" @onchange="() => Animate.UpdateValues()">
                <div class="icon" @onclick:stopPropagation=true @onclick="() => Animate.RemoveFrame(j)" title="Remove Frame" alt="Remove Frame">❌</div>
            </Item>
        }
        <Item @onclick:stopPropagation="true" @onpointerup="_ => Animate.AddFrame()"><div class="icon">➕</div> Add Frame</Item>
        <Item OnClick="() => Animate.Remove()"><div class="icon">❌</div> Remove Animation</Item>
    </SubMenu>
</Item>

@code {
    [Parameter]
    public required AnimateStrokeDashoffset Animate { get; set; }
}