<Item>
    <div class="icon">🎨</div> Stroke Color
    <SubMenu>
        @for (int i = 0; i < Animate.FrameCount; i++)
        {
            var j = i;
            <Item OnClick=@(_ => Animate.SVG.OpenColorPicker("Animate Stroke", Animate.Values[j], (value) => {Animate.Values[j] = value; Animate.UpdateValues(); }))>
                <ColorCube Color=@Animate.Values[j] />
                Frame @j Fill
                <div class="icon" @onclick:stopPropagation=true @onclick="() => Animate.RemoveFrame(j)" title="Remove Frame" alt="Remove Frame">❌</div>
            </Item>
        }
        <Item @onclick:stopPropagation="true" @onpointerup="_ => Animate.AddFrame()"><div class="icon">➕</div> Add Frame</Item>
        <Item OnClick="() => Animate.Remove()"><div class="icon">❌</div> Remove Animation</Item>
    </SubMenu>
</Item>

@code {
    [Parameter]
    public AnimateStroke Animate { get; set; } = default!;
}