<Item>
    <div class="icon">🎨</div> Fill Color
    <SubMenu>
        @for (int i = 0; i < Animate.FrameCount; i++)
        {
            var j = i;
            <Item OnClick="_ => Animate.SVG.OpenAnimateColorPicker(Animate, AttributeNames.FillAnimate, j)"><div class="colorPickerCube" style="background-color:@Animate.Values[j];"></div> Frame @j Fill</Item>
        }
        <Item OnClick="_ => Animate.AddFrame()"><div class="icon">➕</div> Add Frame</Item>
    </SubMenu>
</Item>

@code {
    [Parameter]
    public BaseAnimate Animate { get; set; }
}