<Item>
    <div class="icon">🎢</div> d
    <SubMenu>
        @for (int i = 0; i < Animate.FrameCount; i++)
        {
            var j = i;
            @if (Animate.CurrentFrame == j)
            {
                <Item CssClass="dark" OnClick="() => { Animate.CurrentFrame = null; }"><div class="icon">✅</div> Frame @j Path Done</Item>
            }
            else
            {
                <Item OnClick="() => { Animate.CurrentFrame = j; }"><div class="icon">👁‍🗨</div> Frame @j Path</Item>
            }
        }
    </SubMenu>
</Item>

@code {
    [Parameter]
    public BaseAnimate Animate { get; set; }
}