<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor SVGEditor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Minimal">
                <span class="oi oi-box" aria-hidden="true"></span> Minimal
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CustomElements">
                <span class="oi oi-lightbulb" aria-hidden="true"></span> Custom Elements
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Save">
                <span class="oi oi-hard-drive" aria-hidden="true"></span> Save
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SnapToInteger">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> Snap To Integer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Animation">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Animation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="IconMaker">
                <svg class="bi" viewBox="0 0 16 16">
                    <polygon stroke="#FFFFFF" stroke-width="2" fill="none" points="2,6 6,6 8,2 10,6 14,6 11,9 12,13 8,11 4,13 5,9" stroke-linejoin="round"></polygon>
                </svg>
                Icon Maker
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
