@using BlazorContextMenu

<Item OnClick="_ => Node.AddNew(SVGEditor)">
    <div class="icon">⚫</div> New Node
</Item>

@code {
    private string text = string.Empty;

    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }

    private void AddNew()
    {
        Node.AddNew(SVGEditor);
    }
}
