@using BlazorContextMenu

@if (Data is Node node)
{
    <Item OnClick="_ => Connector.AddNew(SVGEditor, node)">
        <div class="icon">〰</div> New Connector
    </Item>
}

@code {
    private string text = string.Empty;

    // Now
    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }

    private void AddNew()
    {
        Node.AddNew(SVGEditor);
    }
}
