.colorPickerCube {
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
}

.icon {
    width: calc(0.8rem + 10px);
    display: inline-block;
    text-align: center;
}

path:focus, rect:focus, circle:focus, ellipse:focus, polygon:focus, polyline:focus, line:focus, g:focus {
    outline: none;
}