@page "/"

<textarea @bind="Input" @bind:event="oninput" style="width:100%;height:15vh;" />
<div style="height:75vh">
    <SVGEditor @ref=sVGEditor HideElements=hideElements Input=@Input InputUpdated="(string s) => { Input = s; StateHasChanged(); }" InputRendered="InputHasBeenRendered" SelectionMode="SelectionMode.WindowSelection" />
</div>

@code {
    protected SVGEditor sVGEditor;
    protected bool hideElements = true;

    protected void InputHasBeenRendered()
    {
        if (hideElements)
        {
            sVGEditor.FitViewportToAllShapes();
            hideElements = false;
            StateHasChanged();
        }
    }

    protected string Input = @"<rect x=""120"" y=""380"" height=""125"" width=""140"" fill=""green"" stroke=""blue"" stroke-width=""2""></rect>
<circle cx=""450"" cy=""300"" r=""80"" stroke=""green"" stroke-width=""1"" fill=""url('#purple_blue_up_right')""></circle>
<ellipse cx=""190"" cy=""600"" rx=""80"" ry=""60"" stroke=""blue"" stroke-width=""1"" fill=""url('#purple_blue_up_right')""></ellipse>
<polygon points=""136,489 196,413 193,465 245,390"" fill=""red"" stroke=""yellow"" stroke-width=""3""></polygon>
<polyline points=""350,400 375,500 400,400 425,500 450,400 475,500"" fill=""none"" stroke=""black"" stroke-width=""3""></polyline>
<line x1=""360"" y1=""550"" x2=""460"" y2=""620"" stroke=""black"" stroke-width=""3""></line>
<g>
<path d=""M 120 350 v -80 h -30 l 100 -60 100 60 h -30 v 80 z"" fill=""lightgrey"" stroke=""grey"" stroke-width=""5""></path>
<path d=""M 170 280 q 20 -20 40 0 t 0 40 -40 0 0 -40 z"" fill=""white"" stroke=""grey"" stroke-width=""3""></path>
</g>
<path d=""M 250 170 c -39 37 -111 35 -136 -1 s -14 -74 2 -93 s 43 -28 63 -27 s 51 -2 67 -23 c -6 18 -7 18 -12 33 c 28 -8 37 -12 52 -43 c 28 49 1 96 -20 120 s -47 33 -84 36 s -58 -23 -57 -53 s 29 -46 51 -46 s 46 24 47 45 s -8 20 -12 20 s -10 -2 -10 -22 s -2 -26 -18 -27 s -43 10 -42 30 s 12 33 29 34 s 18 -5 23 -12 c 9 15 20 10 27 8 s 18 -17 15 -40 s -36 -49 -59 -49 s -65 17 -66 63 s 51 89 138 45 z m -61 -46 v -20 h -20 c -10 0 -18 5 -17 20 s 10 15 15 16 s 22 0 22 -15 z"" fill=""purple""></path>
<path d=""M 450 50 A 50 100 30 1 1 450 200 A 50 100 150 1 1 450 50 z"" fill=""pink"" stroke=""red""></path>
<text x=""600"" y=""100"" style=""font-size:100"" stroke=""black"" fill=""white"" stroke-width=""2"">HEY</text>
<defs>
<linearGradient id=""purple_blue_up_right"" y1=""100%"" y2=""0%"">
<stop offset=""25%"" stop-color=""purple""></stop>
<stop offset=""75%"" stop-color=""blue""></stop>
</linearGradient>
</defs>";
}