::deep .anchor-inner-thin {
    stroke-width: 2;
    r: 10
}

::deep .anchor-inner-thick {
    stroke-width: 4;
    r: 10
}

::deep .anchor-outer-thin {
    stroke-width: 2;
    r: 12
}

::deep .anchor-outer-thick {
    stroke-width: 4;
    r: 14
}
