@if (SVGEditor.SelectedShapes.FirstOrDefault() is Path path)
{
    <Item OnClick="_ => CompleteShapeWithoutClose(path)"><div class="icon">❗</div> Complete Without Close Instruction</Item>
}

@code {
    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    private void CompleteShapeWithoutClose(Path path)
    {
        SVGEditor.CompleteShape(path);
        _ = path.Instructions.Remove(path.Instructions.Last());
        path.UpdateData();
    }
}
