@if (Color is ['u', 'r', 'l', '(', '\'', '#', .. var id, '\'', ')']
&& SVGEditor.Definitions.TryGetValue(id, out var definition)
&& definition is LinearGradient linearGradient)
{
    <svg width="0.8rem" height="0.8rem" style="margin-left:5px;margin-right:5px;">
        <defs>
            @linearGradient.Element.OuterHtml
        </defs>
        <rect width="0.8rem" height="0.8rem" fill="@(linearGradient.Id?.ToUrl() ?? "")" stroke="black" />
    </svg>
}
else
{
    <div class="colorPickerCube" style="background-color:@Color;"></div>
}


@code {
    [Parameter, EditorRequired]
    public required string Color { get; set; }

    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }
}
