@if (Data is ISVGElement element)
{
    <Item OnClick="() => SVGEditor.CopyElementsAsync()"><div class="icon">✂️</div> Copy</Item>
}

@code {
    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }
}
