@if (Data is ISVGElement element)
{
    <Item OnClick="() => SVGEditor.CopyElementsAsync()"><div class="icon">✂️</div> Copy</Item>
}

@code {
    [CascadingParameter]
    public SVGEditor SVGEditor { get; set; } = default!;

    [Parameter]
    public object Data { get; set; } = default!;
}
