@if (Data is ISVGElement element)
{
    <Item>
        <div class="icon">↕</div> Move
        <SubMenu>
            <Item OnClick="() => SVGEditor.MoveToBack()"><div class="icon">⏫</div> To Back</Item>
            <Item OnClick="() => SVGEditor.MoveBack()"><div class="icon">🔼</div> Back</Item>
            <Item OnClick="() => SVGEditor.MoveForward()"><div class="icon">🔽</div> Forward</Item>
            <Item OnClick="() => SVGEditor.MoveToFront()"><div class="icon">⏬</div> To Front</Item>
        </SubMenu>
    </Item>
}

@code {
    [CascadingParameter]
    public SVGEditor SVGEditor { get; set; } = default!;

    [Parameter]
    public object Data { get; set; } = default!;
}
