@if (Data is ISVGElement element)
{
    <Item OnClick="() => SVGEditor.Remove()"><div class="icon">❌</div> Remove</Item>
}

@code {
    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }
}
