@if (Data is Path path)
{
    <Item data=path OnClick="() => ScaleShape(path)"> <div class="icon">↔</div> Scale</Item>
}

@code {
    [CascadingParameter]
    public required SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }

    private void ScaleShape(Shape shape)
    {
        SVGEditor.ClearSelectedShapes();
        SVGEditor.SelectShape(shape);
        if (SVGEditor.FocusedShape != shape)
        {
            SVGEditor.UnfocusShape();
        }
        SVGEditor.EditMode = EditMode.Scale;
    }
}
